*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 62.5% /*becouse the defult value of the brawser is 16px , so if user change the defult size will be change here .625*10 = 10 , .625*20 = 12 ....*/
}

body {
  box-sizing: border-box;
}


html, body {
  height: 100%;
}
