.btn {
  display: inline-flex;
  align-items: center;
  
  padding: 12px 22px;
  background: rgba(black, 0.7);

  text-decoration: none;
  
  color: white;

  font-size: 18px;
  font-weight: 600;
  font-family: inherit;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  &:hover {
      background: rgba(black, 0.78);
      backdrop-filter: blur(2px);
  }

  &:active {
      background: rgba(black, 0.85);
  }

}

.btns-container {
  gap: 12px;
  
  margin-top: 20px;

  &.btns-centered {
      justify-content: center;
  }

  .align-end {
      margin-left: auto;
  }
}