<!-- 

<div class="row">
  <div class="container">
    
    
             
   
      <form [formGroup]="convert" (ngSubmit)="onSubmit(convert)">
        <div class="amount">
            <input formControlName="amount" placeholder="amount" type="number" min="1" >
        </div>

        <div class="currency">
          
            <select formControlName="from" id="allocation-algorithm"   placeholder="amount">
              <option  *ngFor="let item of symbols | keyvalue" [value]="item.key">{{item.key}}</option>
            </select>

    
              <a (click)="swap(convert)" class="swap">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M8,10V13H14V18H8V21L2,15.5L8,10M22,8.5L16,3V6H10V11H16V14L22,8.5Z" />
              </svg>
              </a>
          
          <select formControlName="to" id="allocation-algorithm">
            <option  *ngFor="let item of symbols | keyvalue" [value]="item.key">{{item.key}}</option>
          </select>

      
        </div>



    
        <div class="btns-container btns-centered">
          <button (click)="swap(convert)" type="submit" class="btn add-btn">
              
              convert
          </button>
      </div>
    </form>
      
    <button class="button">
      <a  [routerLink]="['/currency-converter/details']">convert details</a> 
    </button>
    
   
              
    
     
          
 
  </div>
</div> -->



 <!-- <div class="add-bookmark-wrapper container has-blurred-white-bg">
  
  <form >
      <div class="form-field">
          <input class="textbox" ngModel #textField="ngModel" name="name" type="text" placeholder="Amount">
      </div>

      <div class="form-field currency">
          <input class="textbox" ngModel #textField="ngModel" name="url" type="url" placeholder="From" required>
      </div>

      <div class="form-field currency">
          <button  class="btn"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M8,10V13H14V18H8V21L2,15.5L8,10M22,8.5L16,3V6H10V11H16V14L22,8.5Z" />
        </svg></button>
      </div>

      <div class="form-field currency">
        <input class="textbox" ngModel #textField="ngModel" name="url" type="url" placeholder="to" required>
      </div>

      <div class="form-field">
          <button class="btn" [routerLink]="['/currency-converter/details']">convert</button>
      </div>
  </form>
  <div class="detais">
      djhgbvjkbvjk
  </div>
  <div class="form-field">
    <button class="btn" [routerLink]="['/currency-converter/details']">more details</button>
</div>
</div>  -->




<div class="add-bookmark-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">Convert</h2>
  
  <form #form="ngForm"  >

      <div class="form-field">
        <input class="textbox amount" ngModel #textField="ngModel" name="name" type="text" placeholder="Amount">
      </div>

      <div class="form-field currency">
        <input class="textbox" ngModel #textField="ngModel" name="url" type="url" placeholder="From" required>
    </div>

    <div class="form-field currency">
      <button  class="btn"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M8,10V13H14V18H8V21L2,15.5L8,10M22,8.5L16,3V6H10V11H16V14L22,8.5Z" />
    </svg></button>
  </div>

  <div class="form-field currency">
    <input class="textbox" ngModel #textField="ngModel" name="url" type="url" placeholder="to" required>
  </div>

  <div class="form-field">
      <button class="btn" [routerLink]="['/currency-converter/details']">convert</button>
  </div>

  </form>
  <div class="detais">
    djhgbvjkbvjk
  </div>
</div>