
<!-- [class.completed]="todo.completed" -->
<div class="todos-wrapper">
    <div class="container">

        <div class="todo-item" >
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">ddd</p>
        
            <div class="todo-item-actions" (click)="$event.stopPropagation()">
                <div class="btn todo-item-action-btn" >
                    <i class="material-icons">edit</i>
                </div>
                <div class="btn todo-item-action-btn" >
                    <i class="material-icons">delete</i>
                </div>
            </div>
        </div><div class="todo-item" >
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">ddd</p>
        
            <div class="todo-item-actions" (click)="$event.stopPropagation()">
                <div class="btn todo-item-action-btn" >
                    <i class="material-icons">edit</i>
                </div>
                <div class="btn todo-item-action-btn" >
                    <i class="material-icons">delete</i>
                </div>
            </div>
        </div>
        <div class="todo-item" >
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">ddd</p>
        
            <div class="todo-item-actions" (click)="$event.stopPropagation()">
                <div class="btn todo-item-action-btn" >
                    <i class="material-icons">edit</i>
                </div>
                <div class="btn todo-item-action-btn" >
                    <i class="material-icons">delete</i>
                </div>
            </div>
        </div>
        <div class="todo-item" >
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todo-text">ddd</p>
        
            <div class="todo-item-actions" (click)="$event.stopPropagation()">
                <div class="btn todo-item-action-btn" >
                    <i class="material-icons">edit</i>
                </div>
                <div class="btn todo-item-action-btn" >
                    <i class="material-icons">delete</i>
                </div>
            </div>
        </div>
        

        
    </div>
</div>
